* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    body {
    font-family: "Poppins", sans-serif;
    background-image: url("bck-wall-4.jpg");
        background-size: cover;
}

.header {
    background:#46220d;
}

.container {
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar {
    display: flex;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-top: 3px;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
p {
    color: #555;
}

.search-button button {
    background-color: #69320e;
    display: inline-block;
    border: 1px solid;
    border-radius: 10px;
    padding: 6px 13px;
    font-size: 95%;
    text-align: center;

}

.search-container {
    display: flex;
    flex:auto;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    height: 30px;
}

input {
    width: auto;
    height: 100%;
    border: 1px solid black;
    border-right: none;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.search-button {

    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 3%;
}

.search-button a {
   font-weight: bold;
}
.logo img{

    object-fit: cover;
}

.logo {
    object-fit: cover;
    display: flex;
    flex: auto;
}