.left-menu {
    width: 200px;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 59px 48px 20px -7px rgba(0,0,0,0.1);

}

.left-menu h3 {
    margin-bottom: 15px;
    font-size: 18px;
    color: white;
}

.left-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.left-menu li {
    margin-bottom: 8px;
}

.left-menu a {
    text-decoration: none;
    color: #007bff;
    font-weight: 500;
    transition: color 0.3s ease;
}

.left-menu a:hover {
    color: #0056b3;
}

.productsPageRow {
    padding-left: 3% !important;
}

.menuContainer {
    padding-top: 5%;
}

.allProductsButton {
    margin-bottom: 5%;
}

.menuTitle {
    color: white;
    font-weight: bold;
}

.itemDescriptionCol {
    margin-left: 5%;
}

.title {
    padding-left: 34%;
}

.priceTitle {
    color: white;
    font-size: 50px;
}

.reviewsContainer {
    width: 80%;
    padding-left: 10%;
}

.reviewSubmitButton {
    margin-top: 2%;
    margin-bottom: 2%;
}